{%extends 'snippets/base.html'%}
{%load static%}

{%block konten%}
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
  </div>
  <div class="container">
    <!-- card 1 -->
    <div class="card text-light mt-5 text-center" style="width:100%;">
      <div class="card-body" style="  background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);">
        <h5 class="card-title fw-bold">About</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <!-- card 2 -->
    <div class="card text-light mt-3 text-center" style="width:100%;">
      <div class="card-body" style="  background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);">
        <h5 class="card-title fw-bold">Kntak Admin <i class="fa-solid fa-phone-volume"></i> <i class="fa-brands fa-whatsapp"></i> </h5>
        <h4 class="card-text fw-bold">+6281997761672</h4>
      </div>
    </div>
    <!-- card 2 -->
    <div class="card text-light mt-3 text-center" style="width:100%;">
      <div class="card-body" style="  background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);">
        <img src="/static/img/logolotim.png" width="50px">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
{%endblock konten%}
