{%extends 'snippets/base.html'%}
{%load static%}

{%block konten%}
<!-- heder -->
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="{%static '/img/backround.jpg'%}" class="d-block w-100" alt="...">
        </div>           
    </div>
</div>
{%endblock konten%}